*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 1. Definición de Variables (Custom Properties) */
:root {
  /* Colors - Primary */
  --clr-primary-500: hsl(158, 36%, 37%);
  --clr-primary-700: hsl(158, 42%, 18%);

  /* Colors - Neutral */
  --clr-neutral-900: hsl(212, 21%, 14%); /* Black */
  --clr-neutral-400: hsl(228, 12%, 48%); /* Grey */
  --clr-neutral-200: hsl(30, 38%, 92%);  /* Cream */
  --clr-neutral-100: hsl(0, 0%, 100%); /* White */
}

body{
    background-color: var(--clr-neutral-200);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card{
    background-color: var(--clr-neutral-100);
    border-radius: 0.7rem;
    max-width: 40rem;

    overflow: hidden; /*A*/
    display: flex;
    flex-direction: column;
}


.product-card__image img{
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;/*A*/
    
}

.product-card__content{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-card__category{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.3rem;

    text-align: left;
    color: var(--clr-neutral-400);
}

/* Continuar con el resto del proyecto después*/ 

.product-card__title{
    font-family: 'Fraunces', serif;
}

.product-card__description{
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-neutral-400);
    line-height: 1.5;
    font-size: 1rem;
}

.product-card__pricing{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;


}

.product-card__price--new{
   
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--clr-primary-500);
}

.product-card__price--old{
    
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-neutral-400);
    text-decoration: line-through;
    font-size: 0.875rem;
}

.product-card__button{
    background-color: var(--clr-primary-500);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border-style: none;
    color: var(--clr-neutral-100);
    transition: color 0.3s ease, background-color 0.3s ease;/* estudiar que es ease*/

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    span{
        font-weight: 700;
    }
}

.product-card__button:hover{
    background-color: var(--clr-primary-700);
    cursor: pointer;
}

@media screen and (min-width: 550px){
    .product-card{
        flex-direction: row;
        max-width: 36rem;
        
    }

    .product-card__content, .product-card__image {
        flex: 1 1 50%;
        width: 50%;    
    }


    .product-card__image img {
        aspect-ratio: auto; 
        height: 100%;       
        object-fit: cover;  
    }

    .product-card__content {
        padding: 1.5rem;    
    }
}